:root {
  --color-bg: #6cb2b8;
  --color-surface: #cdeae8;
  --color-border: #378582;
  --color-text: #114e67;
  --color-text-heading: #c05e00;
  --color-border-card: #fcc900;
  --font: "Nunito", system-ui, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font);
  background: var(--color-bg);
  color: var(--color-text);
}

header {
  background-color: var(--color-surface);
  text-align: center;
}
#logo {
  padding: 1rem;
  width: auto;
}
#search {
  width: clamp(200px, 40%, 400px); /* min / idéal / max */
  border: solid 2px var(--color-border);
  margin: 1rem;
  padding: 0.3rem;
}
#map {
  width: 100%;
  height: auto";
}
#card-toilets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  border-top: solid 4px var(--color-border-card);
  margin: 1rem;
  padding: 1rem;
}

.card-toilet {
  width: 100%;
  height: auto; /*  jamais de hauteur fixe */
  border: 3px solid var(--color-border-card);
  border-radius: 15px;
  padding: 1rem;
  background-color: var(--color-surface);
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  font-size: 12px;
}

ul li {
  padding: 3px 0;
  border-bottom: 0.5px solid rgba(55, 133, 130, 0.2);
  display: flex;
  justify-content: space-between;
}
img {
  width: 30%;
  padding: 0.2rem;
}
.card-image {
  width: 60%;
  padding: 1rem;
}
button {
  font-size: 0.7rem;
  margin: 1rem;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  cursor: pointer;
}
.card-details.hidden {
  display: none;
}

.card-details {
  margin-top: 12px;
  border-top: 1px solid #ccc;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ── FOOTER ── */
footer {
  text-align: center;
  border-top: 4px solid var(--color-border-card);
  padding: 1rem;
  font-size: 12px;
}
@media (max-width: 500px) {
  .card-toilets {
    grid-template-columns: 1fr;
    margin: 0.5rem;
    padding: 0.5rem;
  }

  #search {
    width: 90%;
    margin: 0.5rem auto;
    display: block;
  }

  img {
    width: 50%;
  }

  .card-image {
    width: 80%;
  }

  header {
    padding: 0.5rem;
  }

  #logo {
    width: 60%;
  }
}
